@import url('https://fonts.cdnfonts.com/css/superhelio');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #07241f;
    font-family: 'superhelio _regular', sans-serif;
    font-family: 'superhelio _extended', sans-serif;
    font-family: 'superhelio _small', sans-serif;
    font-family: 'superhelio _extended_ultra', sans-serif;
    font-family: 'superhelio _thin', sans-serif;
    font-weight: 1000;
}

li,
a,
button {
    /* font-family: 'Public Pixel', sans-serif;    font-weight: 500; */
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    max-width: 4%;
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088A9;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.poster {
    max-width: 99.99%;
    max-height: 99.99%;
}

.button-overlay {
    position: relative;
    display: inline-block;
}

.button-overlay .button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background-color: #157f87f7;
    color: #fff;
    border-radius: 5px;
}

.button-overlay .button:hover {
    background-color: #1badb8f7;
}

/* .container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.popup {
    max-width: fit-content;
    /* width: 90%; */
    max-height: fit-content;
    /* height: 90%; */
    background-color: #07241f;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    border-radius: 6px;
    border-width: 5px;
    border-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* text-align: center; */
    padding: 25px 30px;
    color: #FFF;
    visibility: hidden;
    transition: 0.4s;
}

.popup header {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 300;
    text-align: center;
}

.popup .form {
    margin-top: 20px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.form .input-box input {
    position: relative;
    height: 40px;
    width: 100%;
    color: #FFF;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 0 15px;
}

.form h3 {
    margin-top: 2%;
}

.form .kcdio-option {
    margin-top: 3%;
}

.form :where(.kcdio-option, .options) {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.form :where(.kcdio-option, .options) :hover {
    cursor: pointer;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .form .kcdio {
        flex-wrap: wrap;
    }
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 20px;
}

#submit-button {
    height: 55px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    background-color: rgba(0, 136, 169, 1);
}

#submit-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

footer{
    color: #FFF;
    margin-bottom: 20px;
}

.col{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.col .fa{
    margin-right: 10px;
}

.logo-footer {
    max-width: 10%;
    margin-right: auto;
}
